<!--Home Page : landing Page for Hile-->
<div>
    <div class="row">
        <div class="col s12 offset-m3 m4">
            <div class="card small">

                <div class="card-content">

                    <form name="searchForm">
                            <input placeholder="Your thoughts go in here....." type="text" class="validate"
                            ng-model="home.searchText">
                        <br>
                        <p>
                            <input class="with-gap" type="radio" name="category" value="homeFoods" id="homeFoods" />
                            <label for="homeFoods">Home Food</label>
                            <input class="with-gap" type="radio" name="category" value="rent" id="rent" />
                            <label for="rent">Rent</label>
                            <input class="with-gap" type="radio" name="category" value="service" id="service" />
                            <label for="service">{{home.name}}</label>
                        </p>
                        </form>

                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" ng-click="home.searchQuery()">Find Me Something</a>
                    <!--<a ng-click="home.loginCheckGoogle">Get me something.</a>-->
                </div>

            </div>
        </div>
    </div>
</div>